
.search {
    display: flex;
    justify-content: center;
}
.search-bar {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: #202124;
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    height: 34px;
    font-size: 16px;
 
}
input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    appearance: auto;
    font: 400 13.3333px Arial;
    -webkit-rtl-ordering: logical;
    cursor: text;

}

.wrapper {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
    padding-left: 14px;

}
.text-field {
    background-color: transparent;
    border: none;
    margin: 0 25px;
    padding: 0;
    color: #202124;
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;

    height: 34px;
    font-size: 16px;
   

}

.search {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: auto;
    max-width: 584px;
}

.img-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  
}
.nav-bar {
    padding: 6px;
    display: grid;
    grid-template-columns: 50px 50px auto 50px 50px 55px 80px;
    align-items: baseline;
    margin: 0 5px;
    
}
.nav-left {
    font-size: 14px;
    color: #222;
    padding: 5px;
}
#dots img {
    height: 17px;
    left: 10px;
    bottom: -5px;
    position: absolute;
    
    
}
#dots {
    position: relative;
    
}
#sign-in {
    background: #1a73e8;
    border: 1px solid transparent;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
}
#sign-in li a {
    color: white;
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 16px;
    margin-left: 10px;
    margin-right: 8px;
    min-width: 96px;
    box-sizing: border-box;
}


li {
    color: rgba(0,0,0,0.87);
    display: inline-block;
    line-height: 24px;
    font-size: 13px;
    vertical-align: middle;
    font-family: arial,sans-serif;
    list-style-type: none;

}

.btns {
   display: flex;
   justify-content: center;
   margin: 20px;
}

input[type="submit"]{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.footer {
    position: absolute;
    font-family: arial,sans-serif;
    background: #f2f2f2;
    flex-shrink: 0;
    box-sizing: border-box;
    font-size: 15px;
    color: rgba(0,0,0,.54);
    width: 100vw;
    bottom: 0;
    left: 0;
    
  
 
}

.loc {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0,0,0,.54);
 

}

.foot-lnks {
    display: flex;
    justify-content: space-evenly;
    padding: 15px 5px;
    min-width: 30%;
    order: 1;

}


.legal {

    min-width: 30%;
    order: 3;
}
.ft-link-top {
    color: #70757a;
    display: block;
    white-space: nowrap;
    padding-right: 10px;
    padding-left: 10px

}
#carbon-foot {
    justify-content: center;
    align-items: baseline;
 
}
#leaf {

    height: 12px;
 
    
  
}
#btm-footer {
    display: inline-block;
    width: 100%;
    
    
}
#btm-footer .foot-lnks {
    justify-content: center;
    
}

.m-glass-wrapper {
    position: relative;
    justify-content: center;
    
}
.m-glass-wrapper img{
    position: absolute;
    top: 5px;
    left: -5px;
    height: 25px;
    width: 25px;

}
.mic-wrapper{
    position: relative;
}

.mic-wrapper img {
    position: absolute;
    top: 3px;
    right: 5px;
    height: 30px;
 
}